@charset "UTF-8";


.conteiner{
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: auto auto auto auto ;
}
.caixa01{
    grid-column-start:  5;
    grid-column-end: 2;
    grid-row-start:1 ;
    grid-row-end:5 ;

    background-color: grey;
    border: 2px solid gray;
    height: 50px;
    width: 150px;
}