@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{

    font-family: 'Android';
    src:url('.../fontes/idroid.otf') format('opentype');
    font-weight: normal; 
}


body{
    margin: 0px;
}

:root{
    --fonte-padrao:Arial,verdana,Helvetica,Sans-serif;
    --fonte-destaque: 'Bebas Neue', 'cursive';
    --fonts-android: 'Android,cursive'
}

header{
   background-image: linear-gradient(to bottom, rgba(29, 141, 29, 0.815) ,rgb(17, 70, 17));
    min-height: 150px;
      
      
}
header > h1 {
    color: white;
    text-align: center;
    font-family:var(--fonte-destaque) ;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.651);
    margin: 0px;
    font-weight: normal;
    }
header > p {
    color: white;
    text-align: center;
    margin: 10px;
    padding: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.651);
    height: 10px;
}
nav > a {
color: white;
padding: 10px;
text-decoration: none;
}
#inicial{
    margin: 0px;
    padding: 0px;
    
}
main{
    min-width: 400px;
    max-width: 1000px;
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
main h2 {
    font-family:var(--fonts-android); 
}
main img {
    width: 100%
}
main img.pequena{
    display: block;
    margin: auto;
    width: 50%;
}


#titulo{
    margin: 0px;
    padding: 0px;
}
main a {
    background-color: rgb(105, 214, 105);
    font-weight: bol;
}
main a:hover {
    text-decoration: underline ,black;
    color: rgb(25, 104, 25);

}
nav {
    background-color: rgb(17, 70, 17);
}
aside{
    background-color: rgb(150, 197, 150);
    padding: 18px;
    border-radius: 10px ;
    columns: 3;
} 
aside > h2 {
    background-color: rgb(28, 70, 28);
    color: white;
    border-radius: -10px -10px 0 0;
}
footer{
    background-color: green;
    color: white;
    text-align: center;
    font-size: 0.8cm ; 
}